<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skynet.nl.skynet_whattoeat" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignupActivity" >
        </activity>
        <activity
            android:name=".ApplicationMenu"
            android:icon="@android:color/transparent"
            android:label="WHAT2EAT - RECIPES" >
        </activity>
        <activity
            android:name=".IngredientList"
            android:label="@string/title_activity_ingredients_list"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".CreateRecipe"
            android:label="@string/title_activity_recipe_main"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".ViewRecipe"
            android:label="@string/title_activity_view_recipe"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".SearchRecipe"
            android:label="@string/title_activity_main"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".StepActivity"
            android:label="StepActivity"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".AddIngredientActivity"
            android:label="Add ingredients to recipe"
            android:icon="@android:color/transparent" >
        </activity>
        <activity
            android:name=".AddStepActivity"
            android:label="Add steps to recipe"
            android:icon="@android:color/transparent">
        </activity>
        <activity
            android:name=".MyRecipesActivity"
            android:label="MyRecipesActivity"
            android:icon="@android:color/transparent">
        </activity>
    </application>

</manifest>
